body {
  width: 80%;
  margin: 30px auto;
  font-family: sans-serif;
}
.RRCList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* or space-around */
}

.RRCList a {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 50em) {
  a {
    width: calc(25% - 6px);
  }
}

.RRCList a:hover img {
  transform: scale(1.15);
}

.RRCList figure {
  margin: 0;
  overflow: hidden;
}

.RRCList figcaption {
  margin-top: 15px;
}

.RRCList img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}
